@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-4Regular.woff2') format('woff2'),
        url('/fonts/Paperlogy-4Regular.woff') format('woff'),
        url('/fonts/Paperlogy-4Regular.otf') format('opentype'),
        url('/fonts/Paperlogy-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-5Medium.woff2') format('woff2'),
        url('/fonts/Paperlogy-5Medium.woff') format('woff'),
        url('/fonts/Paperlogy-5Medium.otf') format('opentype'),
        url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-6SemiBold.woff2') format('woff2'),
        url('/fonts/Paperlogy-6SemiBold.woff') format('woff'),
        url('/fonts/Paperlogy-6SemiBold.otf') format('opentype'),
        url('/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-7Bold.woff2') format('woff2'),
        url('/fonts/Paperlogy-7Bold.woff') format('woff'),
        url('/fonts/Paperlogy-7Bold.otf') format('opentype'),
        url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Paperlogy-8ExtraBold.woff2') format('woff2'),
        url('/fonts/Paperlogy-8ExtraBold.woff') format('woff'),
        url('/fonts/Paperlogy-8ExtraBold.otf') format('opentype'),
        url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
}

/* Oswald */
@font-face {
  font-family: "Oswald";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: "Oswald";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Oswald";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Oswald-Bold.ttf') format('truetype');
}

/* Eulyoo1945 */
@font-face {
    font-family: 'Eulyoo1945';
    src: url('/fonts/Eulyoo1945-SemiBold.woff2') format('woff2'),
        url('/fonts/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
