/* 폰트 */
h2 {font-family: "Oswald";}
.font-oswald {font-family: "Oswald";}
.section-text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.primaryWrap {position: relative; }

/* 컴포넌트 */
.visual-section .polygon {position:relative; display: inline-block; transform: translateX(-15%)}
.visual-section .polygon .inner {
  fill: rgba(255, 255, 255, 0.50);
  mix-blend-mode: hard-light;
  /* box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.25) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.25) inset; */
  backdrop-filter: blur(50px);
  color:#fff;
  transition: all 0.3s ease;
  clip-path: polygon(100% 0, calc(100% - 20px) 100%, 0 100%, 0 0);
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 3px;
  /* border: 0.5px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 
    0 0.8px 0 rgba(0, 0, 0, 0.1),
    inset 0 0.8px 0 rgba(255, 255, 255, 0.5),
    inset 0 -0.8px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 0px rgba(255, 255, 255, 0.25);
  position: relative;
  overflow: hidden;
  padding-left: 4rem;
  padding-right: 2.75rem;
}
.visual-section .polygon .inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  clip-path: polygon(100% 0, calc(100% - 20px) 100%, 0 100%, 0 0);
}
.visual-section .polygon .inner::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 0;
  height: 100%;
  width: 1px;
  border-radius: 3px;
  transform: skew(-19deg);
  border: 0.3px solid rgba(255,255,255,0.25);
  border-radius: 999px;

}

.bg-video {position: absolute; top: -27%; left: 0; height: 150%; width: 100%; z-index: -1; opacity: 1;}
.bg-video video {max-width: unset; height: 100%;}
.bg-video-layer {position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #000; z-index: -1; opacity: 0; visibility: hidden;}
.bg-video__content {height: 100%; width: 100%; object-fit: cover;}

/* .visual-video {position: absolute; top: 0; left: 50%; width: 55vw; height: 100vh;}/ */
.video-layer {position: absolute; clip-path: polygon(46% 0%, 74.5% 0%, 57.5% 100%, 29% 100%); height: 1400px; aspect-ratio: 1920/1080;}
.video-layer video, .video-layer img {max-width: unset; height: 100%;}
.video-layer > div {height: 100%;}
.video-layer--main {top: 4rem; right: -16.2vw;}
.video-layer--sub {top: 19rem; right: -42.5vw;}

/* 섹션 공통 */
section {position: relative; overflow: hidden;}
section .primary-text, section .primary-text * {line-height: 1em;}
.main .gradient-text {display: block; position: relative; color: transparent; -webkit-text-fill-color: transparent;} 
.gradient-text.grey {background: linear-gradient(90deg, rgba(154, 177, 188, 0.30) 1.75%, rgba(154, 177, 188, 0.10) 98.07%); line-height: 1; -webkit-background-clip: text; background-clip: text;}
.gradient-text.blue {background: linear-gradient(90deg, #0AD9FE 1.03%, #7D4FF0 147.83%); -webkit-background-clip: text; background-clip: text;}
.gradient-text * {background: none !important; color: inherit; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.gradient-text > .primary-char {display: inline-block; transform: translateX(-100%); opacity: 0;}

.visual-section {height: 100svh;}

.mission-section {width: 100svw; height: 100svh; left: 50%; transform: translateX(-50%); text-align: center; z-index: 1;}
.mission-section .gradient-text.text-absolute {position: absolute;}
.mission-section .primary-char-wrap {margin-left: -5px !important;}
.mission-section .primary-char-wrap.ml-5 {margin-left: 1.25rem !important;}
.mission-section .box-wrap .glass {padding: 35px 0 40px;}

.accordion-item.opened {flex: 1;}
.locked .accordion-trigger {width: 100%;}
.locked button {display: flex; flex-direction: column; align-items: center; row-gap: 2rem;}
.accordion-item .content-bg {z-index: -1;}
.accordion-item .content-text {}
.accordion-item .content-text * {color: #fff;}
.accordion-item.opened .accordion-content {width: 100%;}
.locked-title-icon {display: inline-block; width: 28px; height: 42px; background: url("~/assets/images/main/icon-lock.svg") no-repeat center/contain; z-index: 1;}
.locked-title-text {display: inline-block; width: 79px; height: 230px; background: url("~/assets/images/main/text-lock-vertical.png") no-repeat center/contain; flex-shrink: 0;}
.accordion-item .accordion-trigger button {display: flex; flex-direction: column; justify-content: unset; row-gap: 3.125rem; padding: 6.25rem 2.5rem; height: 100%;}
.accordion-item .accordion-trigger button h3 {writing-mode: vertical-lr; transform: rotate(180deg);}
.accordion-item.locked button {padding: 6.25rem 1rem; width: auto;}
.locked {width: 6.8rem; flex-shrink: 0;}
.locked-title-text {transform: rotate(0)}

.curtain-item {opacity: 0; background: rgba(0, 0, 0, 0.20); box-shadow: -2px -3px 3px 0 rgba(255, 255, 255, 0.25) inset, 5px 3px 5px 0 rgba(255, 255, 255, 0.40) inset;}

.slider-img {/*clip-path: polygon(7% 0, 100% 0%, 92% 100%, 0% 100%);*/ transform: skewX(-6deg); max-width: 0; overflow: hidden; position: relative;}
.slider-img video {}

.slider-img img {max-width: unset;}
.newsroom-section::after {content: ""; display: inline-block; width: 50rem; height: 54rem; position: absolute; top: 0; right: -3.75rem; pointer-events: none; background: url("~/assets/images/main/newsroom-bg-a.svg") no-repeat 50% 50% / contain; z-index: -1;}
.newsroom-section .content-text p::before {content: ""; display: inline-block; width: 5rem; height: 9rem; position: absolute; left: 0; bottom: -0.4rem; background: url("~/assets/images/main/newsroom-content-a.svg") no-repeat center / contain;}
.newsroom-section .container {overflow: visible;}
.newsroom-section .gradient-text {white-space: nowrap;}
.newsroom-section .glass-content {position: static; padding-top: 5rem; padding-bottom: 8rem; padding-left: 0.5rem;}
.newsroom-section .card-glass::after {background-image: linear-gradient(90deg, #04050A 22.6%, rgba(4, 5, 10, 0.00) 100%); }
.newsroom-section .card {height: 20rem; flex-shrink: 0; } 
.newsroom-section .card-moving {margin: -10rem 0 0 -14rem;}
.newsroom-section .animatedCard {box-shadow: none;}
.newsroom-section .card-img {height: 16rem; overflow: hidden; box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.20), -1.5px -1.5px 1.5px 0 rgba(255, 255, 255, 0.25) inset, 3px 3px 3px 0 rgba(255, 255, 255, 0.40) inset;}
.newsroom-section .card-img img {object-fit: cover; min-height: 100%; min-width: 100%;}
/* .newsroom-section .card-grid {display: grid; grid-template-rows: 1fr; width: 100%; max-width: 80em; margin: 0 auto; position: relative;} */
.newsroom-section .card-grid {display: grid; grid-template-rows: 1fr; width: 100%; max-width: 80em; position: relative; place-items: flex-start; }
/* .newsroom-section .card-list {display: flex; flex-direction: row;} */
/* .newsroom-section .card-title {display: -webkit-box; overflow: hidden; white-space: normal; word-wrap: break-word; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;} */
.newsroom-section .card-title {display: -webkit-box; overflow: hidden; white-space: normal; word-wrap: break-word; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;}


.careers-section {background: url("~/assets/images/main/career-bg.png") no-repeat center top / cover; position: relative; overflow: hidden;}
.careers-section .glass-content {padding: 4rem 0 3rem 1.25rem; position: relative;}

.careers-section .swiper {padding: 1rem 0;}
.careers-section .swiper-slide .cont figure {min-height: 300px; aspect-ratio: 449/223;}
.careers-section .swiper-slide {width: 100%; height: 510px;}
.careers-section .swiper-slide .card-moving {top:0; left:0;}
.careers-section .swiper-slide .animatedCard {padding: 0;}
.careers-section .swiper-slide .end-bg {visibility: hidden; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.70); backdrop-filter: blur(2.5px); z-index: 2;}
.careers-section .swiper-slide .end-bg .inner-circle {display: inline-flex; width: 265px; height: 265px; justify-content: center; align-items: center; flex-shrink: 0; border-radius: 500px; background: rgba(0, 0, 0, 0.10); box-shadow: 2px 2px 3px 0 rgba(255, 255, 255, 0.40) inset, -2px -4px 1px -3px rgba(255, 255, 255, 0.30) inset;}
.careers-section .swiper-slide .end-bg .inner-circle > * {opacity: 0.4;}
.careers-section .swiper-slide .end-bg.on {visibility: visible;}
/* .careers-section .swiper-slide .cont {background: rgba(0,0,0,0.3); display: block; height:100%; display: grid; grid-template-rows: auto 1fr; box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset; z-index: 1;} */
.careers-section .swiper-slide .cont {
  display: block; height:100%; display: grid; grid-template-rows: auto 1fr; z-index: 1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.careers-section .swiper-slide .cont figure {min-height: unset; }
.careers-section .swiper-slide .cont figure img {width:100%; height:100%; object-fit: cover; object-position: center;}
/* .careers-section .swiper-slide .cont figure::after {content:''; position:absolute; width:100%; height:100%; left:0; top:0;  box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset} */
.careers-section .swiper-slide .cont figure::after { content:''; position:absolute; width:100%; height:100%; left:0; top:0; }
.careers-section .swiper-slide .cont .text-box {padding: 1.25rem; min-height: 205px;}
.careers-section .swiper-slide .cont .text-box .info {display: grid; grid-template-rows: auto 1fr; height:100%}

.careers-section .swiper-slide .cont .text-box .info .tit {width: 100%; overflow: hidden;}
.careers-section .swiper-slide .cont .text-box .info .tit h4 {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; display: block;}
.careers-section .swiper-slide .cont .text-box .info .date {align-self: flex-end;}
.careers-section .swiper-slide .cont .text-box .apply {display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end; right:1.88rem; bottom:1.88rem;}
.careers-section .swiper-slide .cont .text-box .apply > span {padding-bottom:8px;}

.careers-section .list-bg {width: 100%; height: 100vh; top:175px; z-index: 1; background: url(~/assets/images/sub/list-bg-a.svg) no-repeat center top / contain; filter: grayscale(1);}

.gradient-text .character-wrap svg {height: 120px; width: auto; height: 17vw;}

@media (min-width: 3441px) {
  .video-layer {height: 2100px;}
}
@media (min-width: 2580px) and (max-width: 3440px) {
  .video-layer {height: 1920px;}
}

@media (min-width: 2001px) and (max-width: 2500px) {
  .video-layer {height: 1200px;}
}

@media (min-width: 1880px) and (max-width: 2000px) {
  .video-layer {height: 1080px;}
}

@media (min-width: 1740px) and (max-width: 1879px) {
  .video-layer {height: 1080px;}
}

@media (min-width: 1536px) {
  .gradient-text .character-wrap svg {width: auto; height: 179px;}

}

@media (min-width: 1536px) and (max-width: 1739px) {
  .video-layer {height: 1000px;}
}

/* -------------------------------------- */
/* XL : 1280 ~ 1535 */
/* -------------------------------------- */
@media (min-width: 1280px) and (max-width: 1535px) {
  .video-layer {height: 860px;}
  .gradient-text .character-wrap svg {width: auto; height: 150px;}
  .mission-section .glass-content {padding: 2rem 4.375rem;}

  .careers-section .glass-content {padding: 5.75rem 1.5rem 5.75rem 2rem; }
}

/* -------------------------------------- */
/* LG : 1024 ~ 1279 */
/* -------------------------------------- */
@media (min-width: 1024px) and (max-width: 1279px) {
  .video-layer {height: 800px;}
  .gradient-text .character-wrap svg {height: 120px}
  .mission-section .primary-char-wrap {margin-left: -8px !important;}

  .careers-section .swiper-slide {width: 100%; height: 415px;} 
  .careers-section .swiper-slide .cont .text-box {padding: 1.88rem;}
}
@media (max-width: 1279px) {
  .video-layer {height: 100vh; right: auto; left: 24%;}

  .accordion-item.opened .accordion-trigger button {display: flex; flex-direction: row; justify-content: space-between; row-gap: 3.125rem; padding: 1.25rem; width: 100%}
  .accordion-item.opened .accordion-trigger button h3 {writing-mode: horizontal-tb; transform: rotate(0);}
  .locked { width: 100%; }
  .accordion-item.locked button {flex-direction: row; justify-content: space-between; padding: 0.2rem 0 0.2rem 1rem; width: 100%;}
  .locked-title-icon {width: 20px; height: 29px; background: url("~/assets/images/main/icon-lock.svg") no-repeat center/contain; vertical-align: middle; }
  .locked-title-text {width: 139px; height: 47px; background: url("~/assets/images/main/text-lock.png") no-repeat center/contain; vertical-align: middle; }
}

/* -------------------------------------- */
/* 1023px 이하 공통 스타일 */
/* -------------------------------------- */
@media (max-width: 1023px) {
  .bg-video {top: auto; left: -22%; height: 108%; bottom: -13%;}

  .accordion-item .content-text .glass {padding: 0 !important;}
  
  .careers-section .swiper-slide {width: 100%; height: 415px;} 
  .careers-section .content-glass {padding: 15px; padding-right: 0;}
}

/* -------------------------------------- */
/* MD : 768 ~ 1023 */
/* -------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .gradient-text .character-wrap svg {width: auto; height: 120px;}
}

@media (min-width: 768px) {
  .careers-section .glass-content::before, 
  .careers-section .glass-content::after {content: ""; display: inline-block; width: 6.25rem; height: calc(100% - 4px); top: 50%; position: absolute; transform: translateY(-50%); z-index: 1; z-index: 15;}
  .careers-section .glass-content::before {background: linear-gradient(90deg, #04050A 31.73%, rgba(4, 5, 10, 0.00) 100%); left: 0;}
  .careers-section .glass-content::after {background: linear-gradient(90deg, rgba(4, 5, 10, 0.00) 25.48%, #04050A 100%); right: 0;}
}

/* -------------------------------------- */
/* MOBILE : 0 ~ 767 */
/* -------------------------------------- */
@media (max-width: 767px) {
  .visual-section .polygon .inner::after {transform: skew(-23deg); right: 9px;}

  .mission-section .box-wrap .glass {padding: 25px 20px 30px;}

  .newsroom-section::after {width: 14.5rem; height: 15rem; right: -2.5rem; top: 2rem;}
  .newsroom-section .glass-content {padding: 3.25rem 0 2.625rem}
  .newsroom-section .card {height: 16rem;}
  .newsroom-section .card-moving {margin: -8rem 0 0 -10.5rem;}
  .newsroom-section .card-img {height: 12rem;}

  .careers-section .swiper-slide {height: 365px;}
  .careers-section .swiper-slide .cont .text-box .apply {right: 1.25rem; bottom: 1.25rem;}
}

@media (max-width: 480px) {
  .careers-section .swiper-slide {aspect-ratio: 340/322; height: auto;}
  .careers-section .swiper-slide .cont .text-box {min-height: unset; padding: 15px;}
}



@media (min-width: 1024px) {
  
}

@media (min-width: 1280px) {
  
}

