html {}
body {background: #05060B; font-family: 'Paperlogy', sans-serif;}

#header {}
#nuxt-devtools-container {display: none;}
.container {position: relative;}

/* 폰트 */
.section-text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.primaryWrap {position: relative; }

.locked {width: 6.8rem;}
.locked button {display: flex; flex-direction: column; align-items: center; row-gap: 2rem;}
.locked-title-icon {display: inline-block; width: 28px; height: 42px; background: url("~/assets/images/main/icon-lock.svg") no-repeat center/contain; vertical-align: middle; }
.locked-title-text {display: inline-block; width: 79px; height: 230px; background: url("~/assets/images/main/text-lock.png") no-repeat center/contain; vertical-align: middle; flex-shrink: 0;}
.newsroom-section .container {overflow: visible;}
.newsroom-section .card {height: 20rem;}
.newsroom-section .card-moving {margin: -14rem 0 0 -10rem;}
.newsroom-section .card-img {height: 15rem;}
.newsroom-section .card-img img {object-fit: cover; min-height: 100%; min-width: 100%;}