html {}
body {background: #05060B; font-family: 'Paperlogy', sans-serif;}

#header {}
#nuxt-devtools-container {display: none;}
.container {position: relative;}

/* 폰트 */
h2 {font-family: "Oswald";}
.section-text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.primaryWrap {position: relative; }

/* 컴포넌트 */

/* 칩 */
.d-day {display: flex; padding: 4px 12px; justify-content: center; align-items: center; gap: 10px; border-radius: 50px;}
.d-day.purple {border: 1px solid #734BD7; background: linear-gradient(100deg, rgba(115, 75, 215, 0.25) 8.3%, rgba(60, 39, 113, 0.25) 98.05%);}

.bg-video {position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: -1; opacity: 0.15;}
.bg-video-layer {position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #000; z-index: -1; opacity: 0; visibility: hidden;}
.bg-video__content {height: 100%; width: 100%; object-fit: cover;}

.visual-video {position: absolute; top: 0; left: 50%; width: 55vw; height: 100vh;}
.video-layer {position: absolute; clip-path: polygon(60% 0%, 90% 0%, 70% 100%, 40% 100%); height: 100%;}
.video-layer video {max-width: unset;}
.video-layer > div {height: 100%;}
.video-layer--main {top: 5rem; left: 13vw;}
.video-layer--sub {top: 12.5rem; left: calc(13vw + 22.5%)}

/* 섹션 공통 */
section {position: relative; height: 100vh;}
section .primary-text, section .primary-text * {line-height: 1em;}
.gradient-text {display: inline-block; position: relative; color: transparent; -webkit-text-fill-color: transparent;}
.gradient-text.grey {background: linear-gradient(90deg, rgba(154, 177, 188, 0.30) 1.75%, rgba(154, 177, 188, 0.10) 98.07%); line-height: 1; -webkit-background-clip: text; background-clip: text;}
.gradient-text.blue {background: linear-gradient(90deg, #0AD9FE 1.03%, #7D4FF0 147.83%); -webkit-background-clip: text; background-clip: text;}
.gradient-text * {background: none !important; color: inherit; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.gradient-text > .primary-char {display: inline-block; transform: translateX(-100%); opacity: 0;}

.mission-section {width: 100svw; height: 100svh; left: 50%; transform: translateX(-50%); text-align: center;}
.mission-section .gradient-text {display: flex; align-items: center; column-gap: 8px;}
.mission-section .primary-char-wrap {margin-left: 0 !important;}
.mission-section .primary-char-wrap.ml-5 {margin-left: 1.25rem !important;}
.mission-section .glass-content {padding: 2rem 4.375rem;}

.accordion-item:first-child {flex: 1;}
.accordion-item .accordion-trigger button {display: flex; flex-direction: column; row-gap: 3.125rem; padding: 6.25rem 2.5rem;}
.accordion-item .accordion-trigger button h3 {writing-mode: vertical-lr; transform: rotate(180deg);}
.accordion-item.locked button {padding: 6.25rem 1rem;}
.locked {width: 6.8rem; flex-shrink: 0;}
.locked .accordion-trigger {width: 100%;}
.locked button {display: flex; flex-direction: column; align-items: center; row-gap: 2rem;}
.locked-title-icon {display: inline-block; width: 28px; height: 42px; background: url("~/assets/images/main/icon-lock.svg") no-repeat center/contain; vertical-align: middle; }
.locked-title-text {display: inline-block; width: 79px; height: 230px; background: url("~/assets/images/main/text-lock.png") no-repeat center/contain; vertical-align: middle; flex-shrink: 0;}
.accordion-item .content-bg {z-index: -1;}
.accordion-item .content-text {}
.accordion-item .content-text * {color: #fff;}
.accordion-item.opened .accordion-content {width: 100%;}

.curtain-item {opacity: 0; background: rgba(0, 0, 0, 0.20); box-shadow: -2px -3px 3px 0 rgba(255, 255, 255, 0.25) inset, 5px 3px 5px 0 rgba(255, 255, 255, 0.40) inset;}

.slider-img {clip-path: polygon(7% 0, 100% 0%, 92% 100%, 0% 100%); max-width: 0; overflow: hidden;}
.slider-img img {max-width: unset;}
.newsroom-section::after {content: ""; display: inline-block; width: 50rem; height: 54rem; position: absolute; top: 0; right: -3.75rem; pointer-events: none; background: url("~/assets/images/main/newsroom-bg-a.svg"); z-index: -1;}
.newsroom-section .content-text p::before {content: ""; display: inline-block; width: 5rem; height: 9rem; position: absolute; left: 0; bottom: -0.4rem; background: url("~/assets/images/main/newsroom-content-a.svg") no-repeat center / contain;}
.newsroom-section .container {overflow: visible;}
.newsroom-section .gradient-text {white-space: nowrap;}
.newsroom-section .glass-content {position: static; padding-top: 5rem; padding-bottom: 10.75rem;}
.newsroom-section .card-glass::after {background-image: linear-gradient(90deg, #04050A 22.6%, rgba(4, 5, 10, 0.00) 100%); }
.newsroom-section .card {height: 20rem; flex-shrink: 0; } 
.newsroom-section .card-moving {margin: -10rem 0 0 -14rem;}
.newsroom-section .card-img {height: 16rem; overflow: hidden;}
.newsroom-section .card-img img {object-fit: cover; min-height: 100%; min-width: 100%;}
.newsroom-section .card-grid {display: grid; grid-template-rows: repeat(2, 1fr); width: 100%; max-width: 80em; margin: 0 auto; position: relative;}
.newsroom-section .card-list {display: flex; flex-direction: row;}
.newsroom-section .card-title {display: -webkit-box; overflow: hidden; white-space: normal; word-wrap: break-word; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;}

@supports (animation-timeline: scroll()) {
  .newsroom-section .card-grid {}
  .newsroom-section .row-reverse {flex-direction: row-reverse;}

  @keyframes adjust-position {
    from {
      transform: translateX(calc(-100% + 100vw));
    }
    to {
      transform: translateX(calc(100% - 100vw));
    }
  }

  .newsroom-section .row-reverse {
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }
}