

/* sub top */
.subSection {position: relative; overflow: hidden; height: auto; background: url(~/assets/images/sub/sub-section-bg.png) no-repeat top / 100%;}
.subSection .container {z-index: 3; position: relative;}
.path-visual {position: absolute; right: 50px; top: 0; z-index: 1;  transition: all .5s;}
.path-visual .inner {position: relative}
.path-visual.before {transform: scale(0.9); right:0}

/* main title */
.subPageTitle {
  font-family: "Oswald";
  line-height: 1.3;
  display: flex;
  gap: 12px;
  transform: translateX(15px);}
.subSection .path-visual + .container::before {content: '';
    display: block;
    width: 100vw;
    height: 340px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 0;
  transform: translateX(-50%);}

/* shape visual */
.shape {clip-path: polygon(36.6% 0, 100% 0%, 63.6% 100%, 0 100%); width: 896px; height: 1080px; transform: scale(1);}
.shape::before {content:''; display: block; width: 332px; height: 100%; background: url(~/assets/images/sub/line.svg) no-repeat center / cover; position: absolute; left: 0; top: 0;}
.shape::after {content:''; display: block; width: 332px; height: 100%; background: url(~/assets/images/sub/line.svg) no-repeat center / cover; position: absolute; right: 0; top: 0;}
.shape img {object-fit: cover; object-position: center; width:100%; height:100%;}
.shape.big {background:url(~/assets/images/sub/sub_bg01.png) no-repeat center / cover;}
.shape.small {background:url(~/assets/images/sub/sub_bg02.png) no-repeat top / cover;}
.shape.small {position: absolute; right: calc(-100% + 398px); top: 300px;}
.shape.small::before {top: 30px; left: -10px;}
.shape.small::after {width:404px; height:6px; background:url(~/assets/images/sub/line_vertical.svg) no-repeat center / cover; top: 0; right: 210px;}

/* selectbox */
.filter-box {position: relative; width: 100%; border:1px solid rgba(255,255,255,0.2); z-index: 2;}
.filter-box::before {content:''; display:block; width:73px; height:220px; background: url(~/assets/images/sub/reflection.svg) no-repeat center / cover; position: absolute;  left:0; top:0;}
.filter-box .filter-inner {position: relative; z-index: 2;}
.filter-box .filter-inner select {display: none;}
.filter-box .sch-box {z-index: 2; position: relative;}

.filter-box .sch-btn {background: linear-gradient(256deg, rgba(115, 75, 215, 0.25) -244.38%, rgba(0, 200, 235, 0.15) 100%);
box-shadow: -1.5px -1.5px 1.5px 0 rgba(255, 255, 255, 0.20) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.40) inset;
backdrop-filter: blur(10px); width:64px; height:64px; display: inline-block; flex-shrink: 0; display: flex;  justify-content: center; align-items: center; clip-path: polygon(100% 0,100% 43px, calc(100% - 21px) 100%,0 100%,0 0); position: relative;}
.filter-box .sch-btn .sch-icon {width: 24px; height: 24px; background: url(~/assets/images/sub/sch-icon.svg) no-repeat center / cover; display: block;}
.filter-box .sch-btn::after {content: ''; position: absolute; right: 7px; bottom: -5px; width: 2px; height: 38px; background: rgba(255,255,255,0.2); transform: rotate(45deg);}

/* input basic */
.input-basic {border-radius: 5px; background: rgba(255, 255, 255, 0.10);
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px 0 rgba(255, 255, 255, 0.60) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25); width:280px; position:relative;}
.input-basic[type="text"] {width:100%; padding: 15px 25px; height:64px; border:1px solid rgba(255,255,255,0.2)}
.input-basic::placeholder {color: #999;}
.input-basic::-webkit-input-placeholder{color: #999;}
.input-basic:-ms-input-placeholder{color: #999;}
.hide-select {display: none;}

/* list recruit */
.list-recruit {background: #05060B; z-index: 2; position: relative;}
.list-recruit .list-header {color:#fff; position: relative; z-index: 2;}
.list-recruit .list {position: relative; z-index: 2;}
.list-recruit .list > li {width: 100%; min-height:430px; position:relative;}
.list-recruit .list > li .card-moving {top:0; left:0}
.list-recruit .list > li .animatedCard {padding: 0;}
.list-recruit .list > li .end-bg {visibility: hidden; position:absolute; left:0; top:0; width:100%; height:100%; display:flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.70); backdrop-filter: blur(2.5px); z-index: 2;}
.list-recruit .list > li .end-bg .inner-circle {display: inline-flex; width: 265px; height: 265px; justify-content: center; align-items: center; flex-shrink: 0; border-radius: 500px; background: rgba(0, 0, 0, 0.10); box-shadow: 2px 2px 3px 0 rgba(255, 255, 255, 0.40) inset, -2px -4px 1px -3px rgba(255, 255, 255, 0.30) inset;}
.list-recruit .list > li .end-bg .inner-circle > * {opacity: 0.4;}
.list-recruit .list > li .end-bg.on {visibility: visible;}
.list-recruit .list .cont {background: rgba(0,0,0,0.3); display: block; height:100%; display: grid; grid-template-rows: auto 1fr; box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset; z-index: 1; position: relative;}
.list-recruit .list .cont figure {position:relative; min-height:225px}
.list-recruit .list .cont figure img {width:100%; height:100%; object-fit: cover; object-position: center;}
.list-recruit .list .cont figure::after {content:''; position:absolute; width:100%; height:100%; left:0; top:0;  box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset}
.list-recruit .list .cont .text-box {padding: 1.88rem; min-height: 205px;}
.list-recruit .list .cont .text-box .info {display: grid; grid-template-rows: auto 1fr; height:100%}
.list-recruit .list .cont .text-box .info .d-day {color: #734BD7; font-weight: 700; display: inline-flex; padding: 2px 10px; justify-content: center; align-items: center; gap: 10px; border-radius: 50px; border: 1px solid #734BD7; background: linear-gradient(100deg, rgba(115, 75, 215, 0.25) 8.3%, rgba(60, 39, 113, 0.25) 98.05%); margin-bottom:10px}
.list-recruit .list .cont .text-box .info .tit {width: 100%; overflow: hidden;}
.list-recruit .list .cont .text-box .info .tit h4 {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; display: block;}
.list-recruit .list .cont .text-box .info .date {align-self: flex-end;}
.list-recruit .list .cont .text-box .apply {display: flex; flex-direction: column; position:absolute; align-items: flex-end; justify-content: flex-end; right:1.88rem; bottom:1.88rem;}
.list-recruit .list .cont .text-box .apply > span {color: #00C8EB; padding-bottom:8px;}

.list-recruit .list-bg {position: absolute; width: 100%; height: 100vh; top:175px; z-index: 1; background: url(~/assets/images/sub/list-bg-a.svg) no-repeat center top / contain; filter: grayscale(1);}