
:root {
  --main-color: #00C8EB;
  --text-disabled: #999;
}

/* Buttton width icon */
.ico {display: block; width: 24px; height: 24px;}
.ico.ico-prev {mask: url(~/assets/images/sub/ico-prev.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/ico-prev.svg) no-repeat center / contain;}
.ico.ico-next {mask: url(~/assets/images/sub/ico-next.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/ico-next.svg) no-repeat center / contain;}
.ico.ico-play {mask: url(~/assets/images/sub/ico-play.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/ico-play.svg) no-repeat center / contain;}
.ico.big {width:32px; height: 32px;}

.ico.ico-share {mask: url(~/assets/images/sub/ico-share.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/ico-share.svg) no-repeat center / contain;}
.btn .inner:has(.ico) {gap:10px;}

.share-btn {width: 52px; height: 52px; box-shadow: -1.5px -1.5px 1.5px 0 rgba(255, 255, 255, 0.20) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.40) inset;
backdrop-filter: blur(10px); background: linear-gradient(78deg, rgba(255, 255, 255, 0.20) -4.53%, rgba(255, 255, 255, 0.25) 113.59%);}

/* sub top */
.subSection {overflow: hidden; height: auto; background: url(~/assets/images/sub/sub-section-bg.png) no-repeat top / 100%;}
.subSection.logo-bg::before {content:''; display:block; width:100%; height:100%; background:url(~/assets/images/sub/list-bg-a-blur.svg) no-repeat right top / 1000px; position:absolute; right:0; top:0;}
.subSection .container {z-index: 3;}
.path-visual {right: 150px; top: 0; z-index: 1;  transition: all .5s;}
.path-visual.before {transform: scale(0.9); right:0}

/* main title */
.subPageTitle {font-family: "Oswald"; line-height: 1.3; display: flex; gap: 12px; transform: translateX(15px); z-index: 4;}
.subPageTitle2, .subPageTitle3 {z-index: 4;}
.subSection .path-visual + .container::before {content: ''; display: block; width: 100vw; height: 340px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent); z-index: 2; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}

/* main title - newsroom ~ media list */
.subSection.media-area .path-visual + .container::before {display: none;}

/* main title - contact */
.subSection.contact-area .path-visual + .container::before {background: linear-gradient(0deg, rgba(0,0,0,0.8) 80%, transparent); height:52%}

/* filter option */
.filter-shine {box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 0.05) inset, 3px 3px 3px 0 rgba(255, 255, 255, 0.30) inset; filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.10)); position: absolute; width: 100%; z-index: 1; height: 100%; left: 0; bottom: 0;}

/* divider */
.divider {width: 100%; height: 1px; background: rgba(255, 244, 244, 0.1);}
/* shape visual */
.shape {clip-path: polygon(36.6% 0, 100% 0%, 63.6% 100%, 0 100%); width: 896px; height: 1080px; transform: scale(1);}
.shape::before {content:''; display: block; width: 332px; height: 100%; background: url(~/assets/images/sub/line.svg) no-repeat center / cover; position: absolute; left: 0; top: 0;}
.shape::after {content:''; display: block; width: 332px; height: 100%; background: url(~/assets/images/sub/line.svg) no-repeat center / cover; position: absolute; right: 0; top: 0;}
.shape img {object-fit: cover; object-position: center; width:100%; height:100%;}
.shape.big {background:url(~/assets/images/sub/sub_bg01.png) no-repeat -2% / cover;}
.shape.small {background:url(~/assets/images/sub/sub_bg02.png) no-repeat top / 130%;}
.shape.small {right: calc(-100% + 398px); top: 300px;}
.shape.small::before {top: 30px; left: -10px;}
.shape.small::after {width:404px; height:6px; background:url(~/assets/images/sub/line_vertical.svg) no-repeat center / cover; top: 0; right: 210px;}

/* shape visual - newsroom ~ media list */
.subSection.media-area .path-visual {opacity: .4;}
.subSection.media-area .shape.big {background:url(~/assets/images/sub/sub_bg03.png) no-repeat 70% / cover;}
.subSection.media-area .shape.small {background:url(~/assets/images/sub/sub_bg04.png) no-repeat top / 130%;}

/* shape visual - contact */
.subSection.contact-area .shape.big {background:url(~/assets/images/sub/sub_bg03.png) no-repeat 70% / cover;}
.subSection.contact-area .shape.small {background:url(~/assets/images/sub/sub_bg04.png) no-repeat top / 130%;}


/* selectbox */
.filter-box {width: 100%; border:1px solid rgba(255,255,255,0.2); z-index: 2;}
.filter-box::before {content:''; display:block; width:73px; height:220px; background: url(~/assets/images/sub/reflection.svg) no-repeat center / cover; position: absolute;  left:0; top:0;}
.filter-box .filter-inner {z-index: 2;}
.filter-box .filter-inner select {display: none;}
.filter-box .sch-box {z-index: 2;}

/* search box */
.sch-btn {background: linear-gradient(256deg, rgba(115, 75, 215, 0.25) -244.38%, rgba(0, 200, 235, 0.15) 100%);
box-shadow: -1.5px -1.5px 1.5px 0 rgba(255, 255, 255, 0.20) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.40) inset;
backdrop-filter: blur(10px); width:64px; height:64px; display: inline-block; flex-shrink: 0; display: flex;  justify-content: center; align-items: center; clip-path: polygon(100% 0,100% 43px, calc(100% - 21px) 100%,0 100%,0 0);}
.sch-btn .sch-icon {width: 24px; height: 24px; background: url(~/assets/images/sub/sch-icon.svg) no-repeat center / cover; display: block;}
.sch-btn::after {content: ''; position: absolute; right: 7px; bottom: -5px; width: 2px; height: 38px; background: rgba(255,255,255,0.2); transform: rotate(45deg);}

/* search box in list header */
.list-sch-bar .input-basic[type="text"] {padding: 14px 15px; height:50px; max-width: 390px;}
.list-sch-bar .sch-btn {width:50px; height:50px; clip-path: polygon(100% 0,100% 35px, calc(100% - 15px) 100%,0 100%,0 0);}
.list-sch-bar .sch-btn::after {right:1px}

/* input basic */
.input-basic {border-radius: 5px; background: rgba(255, 255, 255, 0.10);
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25) inset, 0 0 4px 0 rgba(255, 255, 255, 0.60) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25); width:280px;}
.input-basic[type="text"] {width:100%; padding: 15px 25px; height:64px; border:1px solid rgba(255,255,255,0.2)}
.input-basic::placeholder {color: #999;}
.input-basic::-webkit-input-placeholder{color: #999;}
.input-basic:-ms-input-placeholder{color: #999;}
.hide-select {display: none;}

/****** sub ******/

/* join us list recruit */
.list-recruit {background: #05060B; z-index: 2;}
.list-recruit .list-header {color:#fff; z-index: 2;}
.list-recruit .list {z-index: 2;}
.list-recruit .list > li {width: 100%; min-height:430px;}
.list-recruit .list > li .card-moving {top:0; left:0;}
.list-recruit .list > li .animatedCard {padding: 0;}
.list-recruit .list > li .end-bg {visibility: hidden; left:0; top:0; width:100%; height:100%; display:flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.70); backdrop-filter: blur(2.5px); z-index: 2;}
.list-recruit .list > li .end-bg .inner-circle {display: inline-flex; width: 265px; height: 265px; justify-content: center; align-items: center; flex-shrink: 0; border-radius: 500px; background: rgba(0, 0, 0, 0.10); box-shadow: 2px 2px 3px 0 rgba(255, 255, 255, 0.40) inset, -2px -4px 1px -3px rgba(255, 255, 255, 0.30) inset;}
.list-recruit .list > li .end-bg .inner-circle > * {opacity: 0.4;}
.list-recruit .list > li .end-bg.on {visibility: visible;}
.list-recruit .list .cont {background: rgba(0,0,0,0.3); display: block; height:100%; display: grid; grid-template-rows: auto 1fr; box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset; z-index: 1;}
.list-recruit .list .cont figure {min-height:225px}
.list-recruit .list .cont figure img {width:100%; height:100%; object-fit: cover; object-position: center;}
.list-recruit .list .cont figure::after {content:''; position:absolute; width:100%; height:100%; left:0; top:0;  box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset}
.list-recruit .list .cont .text-box {padding: 1.88rem; min-height: 205px;}
.list-recruit .list .cont .text-box .info {display: grid; grid-template-rows: auto 1fr; height:100%}

.list-recruit .list .cont .text-box .info .tit {width: 100%; overflow: hidden;}
.list-recruit .list .cont .text-box .info .tit h4 {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; display: block;}
.list-recruit .list .cont .text-box .info .date {align-self: flex-end;}
.list-recruit .list .cont .text-box .apply {display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end; right:1.88rem; bottom:1.88rem;}
.list-recruit .list .cont .text-box .apply > span {padding-bottom:8px;}

.list-recruit .list-bg {width: 100%; height: 100vh; top:175px; z-index: 1; background: url(~/assets/images/sub/list-bg-a.svg) no-repeat center top / contain; filter: grayscale(1);}

/* join us detail */
.join-us-detail-area .deco-text::before {content:''; display:block; width:24px; height:38px; background:url(~/assets/images/sub/logo-icon.svg) no-repeat center / cover;}

.detail-glass-box {background: rgba(0, 0, 0, 0.15); border-bottom:1px solid rgba(255,255,255,0.2); border-right: 1px solid rgba(255, 255, 255, 0.2); border-top: 1px solid rgba(255,255,255,0.5); border-left: 1px solid rgba(255,255,255,0.5); box-shadow: -28px -22px 0px -17px rgba(255,255,255,0.2) inset;}
.detail-glass-box-side {background: rgba(0, 0, 0, 0.5); border-top: 1px solid rgba(255,255,255,0.5); box-shadow: -28px -22px 0px -17px rgba(255,255,255,0.2) inset;}
.detail-glass-box-side::after {content:''; display:block; width:71px; height:79px; background:url(~/assets/images/sub/logo-icon-small.svg); position:absolute; right:0; top:0; z-index: 2; right:12px; top: 12px; filter: grayscale(1);}

.our-office-area .img_area .img-item {transform: translateY(-20px); display: inline-block;}
.our-office-area .img_area .img-item figure .inner-img {clip-path: inset(50% 30% 20% 30% round 15%); transition: clip-path 1.4s ease;}
.our-office-area .img_area .img-item figure .dimmed {content: ''; display: block; width: 100%; height: 35%; position: absolute; opacity: 0; left: 0; bottom: 0; transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1); z-index: 2; backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px); background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%); mask-image: linear-gradient(to bottom, transparent 0%, black 60%); -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 60%);}
.our-office-area .img_area .img-item figure .inner-img img {transform: scale(1.4); transition: transform 1.6s ease;}
.our-office-area .img_area .img-item figure figcaption {left:0; bottom:-100%; transition: bottom .6s cubic-bezier(0.075, 0.82, 0.165, 1); z-index: 3;}
.our-office-area .img_area .img-item.on figure .inner-img {clip-path: inset(0% 0% 0% 0% round 0%);}
.our-office-area .img_area .img-item.on figure .inner-img img {transform: scale(1);}
.our-office-area .img_area .img-item .card-moving {position: static;}
.our-office-area .img_area .img-item .card-moving .animatedCard {position: static;}
.our-office-area .img_area .img-item.item-02 {transform: translateY(195px);}
.our-office-area .img_area .img-item.item-05 {transform: translateY(-240px);}
.our-office-area .img_area .img-item.item-06 {transform: translate(-70px, 560px);}
.our-office-area .img_area .img-item figure + p {transition: transform .5s ease; transform: translateY(0);}

.our-office-area .img_area .img-item:hover figure figcaption {bottom: 45px;}
.our-office-area .img_area .img-item:hover figure .inner-img img {transform: scale(1.1);}
.our-office-area .img_area .img-item.item-01:hover figure figcaption,
.our-office-area .img_area .img-item.item-03:hover figure figcaption,
.our-office-area .img_area .img-item.item-04:hover figure figcaption,
.our-office-area .img_area .img-item.item-06:hover figure figcaption {bottom: 25px;}
.our-office-area .img_area .img-item:hover figure .dimmed {opacity: 1; backdrop-filter: blur(4.5px); -webkit-backdrop-filter: blur(4.5px);}
.our-office-area .img_area .img-item:hover figure + p {transform: translateY(-100%);}
 
.twink-point::before {content:''; width:12px; height:12px; background: var(--main-color); border-radius: 50%; animation: twink 2.8s ease-in-out infinite; opacity: .3;}

@keyframes twink {
  0% {opacity: .3;}
  50% {opacity: 1;}
  100% {opacity: .3;}
}

.our-office-area .img_area .text-bg {content:'';  display:block; width:100%; height:100vh; background: url(~/assets/images/sub/text-out-office.svg) no-repeat center / contain; position: absolute; left: 0; top: 0;}

/* media & newsroom slider */
.media-slider-wrap {z-index: 2;}
.media-slider-wrap::before {content:''; display: block; width:100%; height:50%; background:linear-gradient(0deg, black 60%, transparent 100%); position:absolute; left:0; bottom:0;}
.media-slider-wrap .dimmed-glass {content:''; display:block; max-width: 116rem; width: 100%; height: 394px; background: rgba(0, 0, 0, 0.15); backdrop-filter:blur(210px); position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; 
  box-shadow: -3px -3px 8px -2px #ffffff33 inset, 1px 1px 1px 0 rgba(255, 255, 255, 0.10) inset; filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.10)); border: 1px solid rgba(255,255,255,0.25)}
.media-slider-wrap .dimmed-glass::before {content:''; display: block; width: 100%; height: 100%; background: url(~/assets/images/sub/otis-redding.png) repeat; position: absolute; left: 0; bottom: 0;}
.media-slider-wrap .dimmed-yellow {width:490px; height:300px; background:rgb(124 101 54); left:50%; bottom:0; transform: translateX(-50%);}
.media-slider-wrap .dimmed-yellow::before {content:''; display: block; width:100%; height: 30px; background: black; position: absolute; left: 0; bottom: 30px;}

.media-slider {z-index: 2; color:#fff; display: flex; align-items: center; justify-content: center; transition: opacity .4s ease; cursor:none;}
.media-slider * {cursor:none!important;}
.media-slider.swiper-hidden {visibility: hidden; opacity: 0;}
.media-slider.swiper-hidden .swiper-slide {transition: none;}
.media-slider .swiper {width: 100%; overflow: hidden;}
.media-slider .swiper-wrapper {align-items: center; height: 26.35vw!important;}
.media-slider .swiper-slide {position: relative; transition: all 1s ease-in-out; overflow: hidden; height: 10.42vw!important; background: #000;}
.media-slider .swiper-backface-hidden .swiper-slide {transform: scale(.84) translateZ(0);}
.media-slider .swiper-slide.swiper-slide-active {width: 46.88vw!important; height: 26.35vw!important;}
.media-slider .swiper-slide.swiper-slide-prev {width: 11.46vw!important; height: 16.04vw!important;}
.media-slider .swiper-slide.swiper-slide-next {width: 11.46vw!important; height: 16.04vw!important;}
.media-slider .swiper-backface-hidden .swiper-slide.swiper-slide-active {transform: scale(1) translateZ(0) !important;}
.media-slider .swiper-image {position: relative; width: 100%; height: 100%;}
.media-slider .swiper-image .image {position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; display:block; opacity: 0.7; transition: opacity .5s ease; pointer-events: none;}
.media-slider .swiper-slide:hover .swiper-image .image {opacity: 1;}
.media-slider .swiper-slide.swiper-slide-active .swiper-image .image {opacity: 1; pointer-events: auto;}
.media-slider .swiper-image .image img,
.media-slider .swiper-image .image video {width:100%; height:100%; object-fit: cover; object-position: center;}
.media-slider .swiper-image .image::before {content:''; display:block; width: 100%; height:100%; position:absolute; left:0; top:0; 
box-shadow: -1px -2px 2px 0 rgba(255, 255, 255, 0.25) inset, 4px 2px 4px 0 rgba(255, 255, 255, 0.40) inset;}
.media-slider .swiper-button-next, .media-slider .swiper-button-prev {padding: 8px; width: 12px; height: 12px; margin-top: 0; background-color: rgba(0, 0, 0, .4); border-radius: 50%;}

/* 내용 전환 효과 */
.media-slider-wrap .slider-text p {opacity: 0; transition: all .5s ease; transform: translate(50px, 30px);}
.media-slider-wrap .slider-text p.fade-in {opacity: 1; transform: translate(0px, 0px);}
.media-slider-wrap .slider-text p.fade-out {opacity: 0; transform: translate(-50px, 30px);}

.float-box {top: 0; left: 0; width: 80px; height: 80px; border-radius: 20px; pointer-events: none; transform: translate(-50%, -50%); opacity: 0; scale: 0.8; z-index: 1000; transition: opacity 0.3s ease, transform 0.1s ease; background: var(--main-color) url(~/assets/images/sub/ico-play.svg) no-repeat center / 40px;}
.float-box.left,
.float-box.right {box-shadow: -1.5px -1.5px 1.5px 0 rgba(255, 255, 255, 0.20) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.40) inset; backdrop-filter: blur(10px); background: rgba(0,0,0,0.3) url(~/assets/images/sub/ico-prev-style2.svg) no-repeat center / 40px;}
.float-box.right {background: rgba(0,0,0,0.3) url(~/assets/images/sub/ico-next-style2.svg) no-repeat center / 40px;}

/* list media & newsroom */
.media-list .list .card {min-height:320px;}
.media-list .list .card .card-moving {top:0; left:0;}
.media-list .list .card .card-img::after {content:''; display:block; width:100%; height:100%; position:absolute; left:0; top:0; box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset;}

/* media detail page */
.media-list .deco-text::before {content:''; display:block; width:88px; height:148px; background:url(~/assets/images/sub/text_deco.svg) no-repeat center / cover; position:absolute; left:0; bottom:-5px; z-index: -1;}
.slide-btn-wrap > *:first-child::after {content:''; display:block; width: 1px; height: 17px; background: rgba(255,255,255,0.2); position: absolute; right: -3px; top: 50%; transform: translateY(-50%);}

/* contact- wide-image-area */
.wide-image-area {background:url(~/assets/images/sub/contact-wide-image.png) no-repeat center / cover; z-index: 3;}
.wide-image-area::after {content:''; display:block; width:100%; height:100%; position:absolute; left:0; top:0; box-shadow: 0px 2px 4px 2px rgba(255,255,255,0.5) inset;}

/* contact- contact information */
.contact-info .contact-info-inner .deco-text::before {content:''; display:block; width:88px; height:184px; background:url(~/assets/images/sub/text_deco.svg) no-repeat center / cover; position:absolute; left:0; bottom:0; z-index: -1;}
.contact-info .contact-info-inner .info > ul > li {border-bottom: 1px solid #333;}
.contact-info .contact-info-inner .info > ul > li ul li i {width: 24px; height: 24px; background: #aaa;}
.contact-info .contact-info-inner .info > ul > li ul li i.profile-icon {mask: url(~/assets/images/sub/profile-icon.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/profile-icon.svg) no-repeat center / contain;}
.contact-info .contact-info-inner .info > ul > li ul li i.mail-icon {mask: url(~/assets/images/sub/mail-icon.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/mail-icon.svg) no-repeat center / contain;}
.contact-info .contact-info-inner .info > ul > li ul li i.phone-icon {mask: url(~/assets/images/sub/phone-icon.svg) no-repeat center / contain; -webkit-mask: url(~/assets/images/sub/phone-icon.svg) no-repeat center / contain;}